.login_box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
}
.login_formBox{
    width: 400px;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
.login_formBox img{
    width: 100px;
    display: block;
    margin-bottom: 20px;
}
.login_input .login-form {
    max-width: 300px;
}
.login_input .login-form-forgot {
    float: right;
}
.login_input .ant-col-rtl .login-form-forgot {
    float: left;
}
.login_input .login-form-button {
    width: 100%;
}
.login_input .ant-space-item{
    width: 100%;
}